# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore ALL .log files
*.log
# ignore ALL .sql files
*.sql
# ignore ALL .config files
*.config

# ignore ALL files in ANY directory named SQL
SQL/
# ignore ALL files in ANY directory named aspnet_client
aspnet_client/
