*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--color-kms-primary: hsla(57, 81%, 57%, 1);
	--color-kms-shadow: hsla(57, 81%, 21%, 1);
	--color-kms-highlight: hsla(57%, 81%, 84, 1);
}

body {

}
